@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #faf6f1;
    --foreground: #2d2522;
    --primary: #e85d04;
    --primary-light: #f48c06;
    --secondary: #9c6644;
    --secondary-light: #bc8a5f;
    --accent: #7209b7;
    --accent-light: #9d4edd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1f1a17;
        --foreground: #f5ebe0;
        --primary: #fb8b24;
        --primary-light: #faa307;
        --secondary: #c1a28b;
        --secondary-light: #ddb892;
        --accent: #b5179e;
        --accent-light: #d62fb9;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(59, 130, 246, 0.2);
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(59, 130, 246, 0.4);
}
